@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

    body
    {
        background-image: linear-gradient(to right,#C7CAFF,#A3A7F0,#464BA3);
    }

    main
    {
        background-color: white; 
        border-radius: 10px;
        box-shadow: 5px 5px 5px#c7caff59;
        width: 600px; 
        padding: 10px; 
        margin: auto;
    }

    h1{color: #464BA3;
        text-align: center;
        text-shadow: 3px 3px 3px#c7caff98;

    }

    h2{color: #A3A7F0;
        

    }

p
{
    text-align: justify;
}